main {
    height: 80vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('{{ MEDIA_URL }}ramen_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

}


main .home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

main .content {
    position: relative;
    z-index: 10;
}

main .content h1 {
    font-size: 5rem;
}

.home-page-button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    background-color: #B71C1C;
    color: #1C1C1C;
    border-color: transparent;
} 


