{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-2">

    <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1 mb-5 mb-md-0">
            <h2>Your Details</h2>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery Information</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2| as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get payment intent id -->
                     <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="submit-button text-right">                    
                    <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Order</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0 complete-order-btn">
                        <span class="font-weight-bold">Order and Pay</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>

                </div>

            </form>
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2 mb-5">
            <h2>Your Order</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col" class="text-right">Subtotal</th>
                    </tr>

                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr>
                        <td>
                            <strong>{{ item.menu_item.name }}</strong><br>
                            <small class="text-muted">Qty: {{ item.quantity }}</small>
                        </td>

                        <td>
                            ${{ item.menu_item.price | calc_subtotal:item.quantity }}
                        </td>
                        <td class="text-right">
                            ${{ item.menu_item.price | calc_subtotal:item.quantity | floatformat:2 }}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody> 
            </table>

            <hr>

            <table class="table">
                <tbody>
                    <tr>
                        <td class="text-left">Order Total:</td>
                        <td class="text-right">${{ total | floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Delivery:</td>
                        <td class="text-right">${{ delivery | floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <td class="text-left"><strong>Total:</strong></td>
                        <td class="text-right"><strong>${{ grand_total | floatformat:2 }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}