html {
    height: 100%
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* semi-transparent black */
    display: none;
    /* hidden by default */
    z-index: 1040;
    /* Make sure it's under the modal */
}

/* When the modal is shown, overlay becomes visible */
body.modal-open .overlay {
    display: block;
}


@media screen and (max-width: 992px) {
    .main-logo-link {
        display: none;
    }
}