html {
    height: 100%
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1040;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 10000;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

body.modal-open .overlay {
    display: block;
}

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6C7576;
}

.allauth-form-inner-content input {
    border-color: black;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for=id_remember]) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}


@media screen and (max-width: 991px) {
    .main-logo-link {
        display: none;
    }

    .navbar-expand-lg {
        width: fit-content;
    }

    .header-icon-wrapper {
        background-color: pink;
        width: fit-content;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    .dropdown-menu  {
        transform: translate3d(-15px, 40px, 0px);
    }

    /* .header-icon-wrapper a{
        padding:0!important;
    } */



    /* .header-icon-wrapper p {
        display: none;
    } */

}

/* @media screen and (min-width: 992px) {
    navbar-collapse  {
        justify-content: center!important;
    }
} */