<script type="text/javascript">
/* jshint esversion: 6 */

    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    $(document).ready(function () {
        $('.qty_input').each(function () {
            var itemId = $(this).data('item_id');
            handleEnableDisable(itemId);
        });
    });

    // Check enable/disable every time the input is changed manually
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        var currentValue = parseInt($(this).val());

        // Prevent users from manually setting values below 1 or above 99
        if (isNaN(currentValue) || currentValue < 1) {
            $(this).val(1);
        } else if (currentValue > 99) {
            $(this).val(99);
        }

        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        var itemId = $(this).data('item_id');

        if (currentValue < 99) {
            $(closestInput).val(currentValue + 1);
            handleEnableDisable(itemId);
        }

    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        var itemId = $(this).data('item_id');

        if (currentValue > 1) {
            $(closestInput).val(currentValue - 1);
            handleEnableDisable(itemId);
        }

    });

</script>